# Public (Replacing `<...>` with respective values)
PUBLIC_APP_NAME = MagicButtons
PUBLIC_APP_DOMAIN = magicbuttons.vercel.app
PUBLIC_APP_URL = https://magicbuttons.vercel.app
PUBLIC_EVENTS_URI = /events

# Private
PRIVATE_ENCRYPT_KEY = some-not-very-nice-very-long-key
PRIVATE_ENCRYPT_SALT = 10

# BACKEND SECRETS (Replacing `<...>` with respective values):
SB_PROJECT_ID =
SB_URL = https://<SB_PROJECT_ID>.supabase.co
SB_REALTIME_URL = wss://<SB_PROJECT_ID>.supabase.co/realtime/v1
SB_DB_SCHEMA = public
SB_ACCESS_TOKEN =
SB_JWT_SECRET =
SB_ANON_KEY =
SB_SERVICE_ROLE_KEY =
