# Public
PUBLIC_APP_NAME = MagicButtons
PUBLIC_APP_DOMAIN = magicbuttons.vercel.app
PUBLIC_APP_URL = https://magicbuttons.vercel.app

# Private
PRIVATE_ENCRYPT_KEY = some-not-very-nice-very-long-key
PRIVATE_ENCRYPT_SALT = 10
